ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
    border-right: none;
}

li a {
    display: block;
    color: royalblue;
    text-align: center;
    padding: 14px 16px;
}

li a:hover:not(active) {
    background-color: aqua;
}

h1 {
    color: aqua;
}